<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <title>
            Hospital
        </title>
    </head>
    <link rel="stylesheet" href="../static/style.css">
    <style>

    </style>
    <body>
    <section class="sticky">   
    <div width="100%" id="head">    
    <h>contact us +9177249520/01|suh@hospital.com</h>
    </div>
    <div id="tab">
    <h id="super">SUPER</h>&nbsp;<span>Hospital</span></div>
    <div id="g">
    <nav>
        <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('about_us') }}">ABOUT US</a>
        <a href="{{ url_for('service') }}">SERVICE</a>
        <a href="{{ url_for('doctors') }}">DOCTORS</a>
        <a href="{{ url_for('contact_us') }}">CONTACT US</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </nav>
    </div>
    </section>
    <div width="100%" id="chill">
        <div style="width: 1200px;">
        <br>
    <h>Welcome to </h><span1>SUPER Hospital</span1>
    <h3>Best Medical &Health Care Needs to our Patients <img src="../static/pictures/about.jpg"></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt error modi earum veritatis eos vitae commodi, excepturi quia facere aliquid et voluptatibus perspiciatis atque voluptatum sapiente nostrum. Numquam, consectetur adipisicing elit. odit possimus excepturi eum et, veritatis repellat dolorum, accusamus atque est, illo hic? Officia.
        Lorem ipsum dolor sit amet.
        <p>consectetur adipisicing elit. Laudantium, reiciendis. Deleniti excepturi blanditiis<br>
             voluptates eaque voluptatem ea mollitia maxime labo.</p>
        </p>
        </div>
        </div>
        <hr>
        <div width="100%" id="mom">
            <div style="width: 1200px;">
            <br>
       <h>Address</h>
    <h3>SUPER Hospital & Research Center</h3>
       <p>180,Shri Rampuri,Niwaru Road,<br>
        Kaal Road<br>
    Benad, Bharatpur Raj 302020<br>
    cantact no-9177249520<br>
    Email:ukh@hospital.com</p>

        </div>
        </div>
        <div width="100%" id="footer">
            <div class="footer">
                <h>@SUPER Hospital,site designed & developed by mitraz</h>
                </div>
                </div>
            </body>
            </html>