<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <title>
            Hospital
        </title>
    </head>
    <link rel="stylesheet" href="../static/style.css">
    <style>

    </style>
    <body>
    <section class="sticky">   
    <div width="100%" id="head">    
    <h>contact us +9177249520/01|suh@hospital.com</h>
    </div>
    <section>
    <div id="tab">
        <h id="super">SUPER</h>&nbsp;<span>Hospital</span></div>
        <div>
        <nav>
            <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('about_us') }}">ABOUT US</a>
        <a href="{{ url_for('service') }}">SERVICE</a>
        <a href="{{ url_for('doctors') }}">DOCTORS</a>
        <a href="{{ url_for('contact_us') }}">CONTACT US</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </nav>
        </div>
        </section>
        </section>
        <div width="100%">
        <main style="width: 1200px;">
        <p>-----------</p>
        <H>CONTACT US</H>
        <P style="color: gray; font-size: 15px;">SUPER Hospital & Research Center</P>
        <p style="color: gray; font-size: 15px;">Mob: +9177249520</p>
        <p style="color: gray; font-size: 15px;">Email: suh@hospital.com</p>    
        </main>
        </div><br><br>
        <div width="100%" id="footer">
            <div class="footer">
                <h>@SUPER Hospital,site designed & developed by mitraz</h>
                </div>
                </div>
    </body>
    </html>