<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <title>
            Hospital
        </title>
    </head>
    <link rel="stylesheet" href="../static/style.css">
    <style>

    </style>
    <body>
    <section class="sticky">   
    <div width="100%" id="head">    
    <h>contact us +9177249520/01|suh@hospital.com</h>
    </div>
    <div id="tab">
    <h id="super">SUPER</h>&nbsp;<span>Hospital</span></div>
    <div id="g">
    <nav>
        <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('about_us') }}">ABOUT US</a>
        <a href="{{ url_for('service') }}">SERVICE</a>
        <a href="{{ url_for('doctors') }}">DOCTORS</a>
        <a href="{{ url_for('contact_us') }}">CONTACT US</a>
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        </nav>
    </div>
    </section>
    <div width="100%">
    <div style="width: 1200px;" id="serve">
    <br>
    <h8>OUR OUTSTANDING SERVICES</h8>
    <img src="../static/pictures/01.jpg">
    <h2>What we offer!</h2>
    <ul ID="light">
        <li>DENTAL IMPLANTS</li>
        <li>WHITENING</li>
        <li>VACCINATIONS</li>
        <li>LABORATORY</li>
        <li>MEDICAL DRESSAGE</li>
        <li>EMERGENCY CONTRACEPTION</li>
    </ul>    
    </div>
    <div style="width: 1200px;" id="serve">
    <br>
    <h>----------</h>
     <h2>Our Department</h2>
     <ul ID="light">
        <li>DENTAL care</li>
        <li>OTOLOGY</li>
        <li>CARDIAC</li>
        <li>HEPATOLOGY</li>
        <li>ORTHOPEDICS</li>
        <li>GASTROENTEROLOGY</li>
        <li>OUTPATIENT</li>
        <li>MENTAL HEALTH</li>
     </ul>   
    </div>
    </div>
    <div width="100%" id="footer">
        <div class="footer">
            <h>@SUPER Hospital,site designed & developed by mitraz</h>
            </div>
            </div>
        </body>
        </html>